.app-new{
    color:blue;
    padding:20px;
    text-align: center;
    background-color: cyan;
}
.body{
    background-color:white;
}
.materialcss{
    background-color:white;
    padding: 50px;
    margin-inline: 10px;   

}